.dashboard-container div.overview{
    /* background-color: rgb(26, 202, 255); */
    padding: 10px;
    height: 100%;
}

.overview{
    display: grid;
    grid-template-areas: 
    "data1 data2 data3"
    "chart1 chart1 chart2";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px;
}

.overview img{
    width: 100px;
    height: 100px;
}

.overview div.card-data{
    font-size: 1.3rem;
}

.card-data h1{
    font-family: garet-heavy;
}

.charts {
    width: 400px;
    height: 400px;
    margin: 20px auto;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.charts-histogram{
    /* background-color: red; */
    grid-area: chart1;
    width: 100%;
}

.charts-bar1{
    /* background-color: blue; */
    grid-area: chart2;
}