.suppliers-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.suppliers-table {
    width: 100%;
    overflow-x: auto;
}

.supplier-actions-button button{
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    border-radius: 50px;
    border: none;
    color: #ffffff;
    width: 15%;
    padding: 10px;
    gap: 20%;
    & img{
        width: 30px;
        height: 30px;
    }
}

.status-clickable {
    cursor: pointer;
    user-select: none;
}

.status-clickable:hover {
    opacity: 0.8;
}

.status-active{
    color: #22c55e;
}

.status-active{
    color: red;
}