@font-face {
  font-family: garet-heavy;
  src: url(../assets/fonts/garet/Garet-Heavy.otf);
}
@font-face {
  font-family: garet-book;
  src: url(../assets/fonts/garet/Garet-Book.otf);
}

html, body{
    height: 100%;
    margin: 0;
}

body{
  background-color: #ececec;
  font-family: garet-book, "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

input,
.add-user-input{
  height: 20px;
  width: 95%;
  border: none;
  border-radius: 50px;
  padding: 10px;
  margin: 0 0 20px 0;
}

h1{
  font-family: garet-heavy;
}

.main-container{
  display: grid;
  grid-template-areas: 
  "sidebar header"
  "sidebar content";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 60px 1fr;
  gap: 3px;
  padding: 5px;
  min-height: 100%;
  height: 100vh;
}

.container{
  padding: 2rem;
  padding-bottom: 0;
}

.header{ grid-area: header; }
.sidebar{ grid-area: sidebar; }
.overview{ grid-area: content; }
.container{ grid-area: content; }

.input-search{
  border-radius: 50px;
  border: 1px solid;
  height: 50%;
  width: 50%;
  padding: 5px;
}

.input-search:hover, .input-search:focus{
  border: 2px solid;
}

.header-icon{
  width: 50px;
  height: 50px;
}

.header-title{
  font-family: garet-heavy;
  font-size: 32px;
  padding: 0;
  padding-top: 5px;
  margin: 0;
}

.card{
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
  margin-right: 70px;
  background-color: #e6edf0;
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
}

/* dim background */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* modal box */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 50px;
  min-width: 70%;
  max-width: 100%;
  z-index: 10000;
}

.required:after{
  content: "*";
  color: #FF0000;
}

.status-container{
  width: 10rem;
  font-weight: bold;
}

/* Green */
.status-in {
  width: fit-content;
  padding: 5px;
  border-radius: 50px;
  background-color: #2ecc71;
}

/* Orange */
.status-low {
  width: fit-content;
  padding: 5px;
  border-radius: 50px;
  background-color: #f39c12;
}

/* Red */
.status-crit {
  width: fit-content;
  padding: 5px;
  border-radius: 50px;
  background-color: #e74c3c;
  color: #ffffff;
}

.status-out {
  width: fit-content;
  padding: 5px;
  border-radius: 50px;
  background-color: #000000;
  color: #ffffff;
}

table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1rem; /* vertical spacing */
}

th{
  border: 1px solid black;
  background-color: #c6d5db;
}

tr{
  background-color: #ffffff;
}

td{
  height: 3rem;
}

th:nth-child(1), 
td:nth-child(1){
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

th:nth-last-child(1),
td:nth-last-child(1){
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}