.sidebar{
    background-color: #e6edf0;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;
    margin: auto 10% auto 10%;
    padding: 20px;
    height: 100%;
}

.sidebar-header h1 {
    font-family: garet-heavy;
}

.sidebar-header {
    margin-bottom: 20%;
}

.sidebar-nav-item{
    padding: 0px 20%;
}

.nav-item {
    display: flex;
    justify-content:flex-start;
    background-color: rgba(0, 0, 0, 0);
    border-left: none;
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 5px;
    padding-bottom: 10px;
    transition: ease-out 100ms 10ms;
}

.nav-item img {
    width: 50px;
    height: 50px;
}

.nav-item:hover {
    border-left: 3px solid #000000;
    background-color: rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.sidebar-footer-item img {
    width: 30px;
    height: 30px;
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    padding-top: 40%;
    padding-left: 30%;
    gap: 8px;
}

a{
    color: #000000;
    text-decoration: none;
}