.products-container{
    margin: 5%;
    text-align: center;
}

.product-actions-button{
    display: flex;
    justify-content: flex-end;
}

.product-actions-button button{
    display: inline-flex;
    align-items: center;
    margin: 10px;
    border-radius: 50px;
    border: none;
    color: #ffffff;
    width: fit-content;
    padding: 10px;
    gap: 20%;
    
    /* Keep buttons in screen */
    /* position: fixed; */
    /* bottom: 20px; Distance from bottom */
    /* right: 20px;  Distance from right */
    /* z-index: 1000; Ensures it stays on top of other elements */
}

.product-actions-button img{
    height: 30px;
}

.addProd-btn{
    background-color: #4a7ff7;
    position: fixed;
    bottom: 20px; /*Distance from bottom*/
    right: 20%;  /*Distance from right */
    z-index: 1000; /*Ensures it stays on top of other elements */
}
.addProd-btn:hover{
    background-color: #3e6ad1;
    cursor: pointer;
}

.editProd-btn{
    position: fixed;
    bottom: 20px; /*Distance from bottom*/
    right: 10%;
    z-index: 1000; /*Ensures it stays on top of other elements */
    background-color: #f7984a;
}
.editProd-btn:hover{
    background-color: #ca7c3c;
    cursor: pointer;
}

.removeProd-btn{
    position: fixed;
    bottom: 20px; /*Distance from bottom*/
    right: 0;
    z-index: 1000; /*Ensures it stays on top of other elements */
    background-color: #f00540;
}
.removeProd-btn:hover{
    background-color: #c50233;
    cursor: pointer;
}

.products-tbody tr:hover{
  background-color: #c6d5db;
}

.products-tbody td{
    height: 3rem;
    cursor: pointer;
}